
$primary: #426E86;
$secondary: #F9BA32;
$light: #F8F5E5;

$theme-colors:(
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
);

body {
    background-color: $light;
}

h1 {
    color: $primary;
}

@import "~bootstrap/scss/bootstrap";
